@model IEnumerable<Application.Features.Candidates.Queries.CandidatesVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <h1>Candidates</h1>
    </div>
    <div class="col text-right">
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </div>
</div>
@using (Html.BeginForm("Search", "Candidate", FormMethod.Get))
{
    <div class="row">
        <div class="col-1">
            <b>Search By:</b>
        </div>
        <div class="col-2">
            @Html.TextBox("Surname") <text>Surname</text>
        </div>
        <div class="col-2">
            @Html.TextBox("Email") <text>Email</text>
        </div>
        <div class="col-2">
            <input type="submit" value="Search" />
        </div>

    </div>
}

<table class="table">
        <thead>
    <tr>
    <th>
                @Html.DisplayNameFor(model => model.Id)
    </th>
    <th>
                @Html.DisplayNameFor(model => model.Surname)
    </th>
    <th>
                @Html.DisplayNameFor(model => model.BirthDate)
    </th>
    <th>
                @Html.DisplayNameFor(model => model.Email)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>